.site-navbar.container.py-0.logsign-head .site-logo a {
    color: #333;
}

.site-navbar.container.py-0.logsign-head li a {
    color: #333;
}

.site-navbar.container.py-0.logsign-head ul li a:hover {
    color: #333;
}

.register{
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 6%;
}

.form-control, h3{
    font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

#profile-tab.active {
    float: right;
}


.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    
    font-weight: lighter;
    padding: 8%;
    margin-top: -9%;
    color: #333;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #f89d13;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnLogin{
    margin-top: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #333;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
    outline: none !important;
}

.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #f89d13;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active {
    width: 100px;
    color: #333;
    border: 2px solid #f89d13;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    outline: none;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}


.site-navbar .site-logo a {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.site-navbar .site-navigation .site-menu .active > a {
    color: #333;
    border-radius: 30px;
    display: inline-block;
    outline: none;
    font-weight: bold;
}

.site-navbar .site-navigation .site-menu > li > a {
    color: #333;
    text-decoration: none !important;
    padding: 20px 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}


.site-navbar .site-navigation .site-menu > li > a:hover {
    color: #f89d13;
}

